.custom-card-top {
    border-radius: 10px !important;
}

.custom-card-bottom {
    margin-top: -10px;
}

.icon {
    background-color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 30px;
}

#percentage {
    background-color: red;
    border-radius: 10px;
    padding: 1px 7px 1px 7px;
    color: white;
}

#price {
    color: red;
}